.table .label-checkbox{
    height: 10px;
    padding-left: 10px;
}

.row{
    margin-bottom: 30px;
}

.btn-custom{
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #000000;
    padding-left:10px;
    padding-right:5px;
    height: 45px;
}

.btn-custom2{
    background-color: #FFFFFF;
    border-radius: 1px;
    border: 1px solid #000000;
    padding-left:10px;
    padding-right:5px;
    height: 45px;
}


.mytext{
    font-weight:normal;
    font-family: sans-serif;
    color:#000000;
    text-transform: none;
    font-size:15px;
}

.btn-group{
    margin-left: 12px;
}

.my-btn{
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.dropdown-item{
    width : 100%;

}

.dropdown-primary{
    width : 100%;
}

.search-btn{
    width:400px;

}

.btn-group{
    margin-bottom: 20px;
}

.my-input{
    width: 60px ;
    height: 100%;
    margin: 0px 0px 0px 0px;
    border-bottom : none;

}
.my-input:focus{
    border-bottom : none;
}

.my-input:disabled{
    border-bottom : none;
}

.my-input:read-only{
    color: #818181;
}

.my-td{

}

.mydropbtn {
    background-color: #FFFFFF;
    color: white;

    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    width:80%;
    height:100%;
}

.mydropdown {
    position:inherit;
    display: block;
    direction: rtl;
    text-align: left;
    width:30%;
}

.mydropdown-content {
    font-size:15px;
    direction: ltr;
    font-weight: 400;
    padding-top:15px;
    padding-bottom: 15px;
    padding-right:10px;
    padding-left:10px;
    display: none;
    position:absolute;
    background-color: #FFFFFF;
    min-width: 490%;
    max-width: 490%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.mydropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

//.mydropdown-content a:hover {background-color: #f1f1f1}

//.mydropdown:hover .mydropdown-content {
//    display: block;
//}

//.mydropdown:hover .mydropbtn {
//    background-color: #3e8e41;
//}

//.show {display:block;}

