
<div class="row" style="background-color: #f4f4f4; height:60px;   position: sticky;top: 60px;right: 0;left: 0;z-index: 101; opacity: 1">
    <div class="col"  >
        <b class="title"> Tạo liên hệ</b>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-info" style="background-color: #FFFFFF;">Hủy</button>
        <button type="submit" class="btn btn-info" style="background-color: #FFFFFF;">Lưu và thêm mới</button>
        <button type="submit" class="btn btn-info waves-light" style="color:#FFFFFF !important; ">Lưu</button>
    </div>
</div>
<form>
    <div  class="row" style="background-color: #FFFFFF; margin-top:50px">
    <div class="col">
        <table class="mytable">
            <tr class="mytr">
                <td class="labeltd">
                 Chủ sở hữu
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Mã khách hàng
                </td>
                <td class="inputtd">
                    <input type="text">

                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Tên khách hàng
                </td>
                <td class="inputtd">
                    <input type="text">

                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Điện thoại
                </td>
                <td class="inputtd">
                    <input type="text">

                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Email
                </td>
                <td class="inputtd">
                    <input type="text">

                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Mã số thuế
                </td>
                <td class="inputtd">
                    <input type="text">

                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Địa chỉ văn phòng
                </td>
                <td class="inputtd">
                    <input type="text">

                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Website
                </td>
                <td class="inputtd">
                    <input type="text">

                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Chia sẻ
                </td>
                <td class="inputtd">
                    <input type="text">

                </td>
            </tr>
        </table>
    </div>
    <div class="col">
        <table class="mytable">
            <tr class="mytr">
                <td class="labeltd">
                 Người liên hệ
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                 Chức vụ
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                   Giới tính
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                  Số di dộng
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                  Số máy bàn
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Email liên hệ
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Địa chỉ liên hệ
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Ngày sinh nhật
                </td>
                <td class="inputtd">
                    <!--<input type="text">-->
                    <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selected date'" style="margin-bottom: 0px" required></mdb-date-picker>

                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Nick chat
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Ngày tạo khách hàng
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                   Tài khoản ngân hàng
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Ngân hàng
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>

        </table>
    </div>

</div>
<div class="row" style="margin-top: 30px; background-color: #FFFFFF; margin-bottom: 40px">
    <div class="col">
        <table class="mytable">
            <tr class="mytr">
                <td class="labeltd">
                    Địa chỉ ĐKKD
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Địa điểm giao hàng
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Phường/Xã
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Quận/Huyện
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Tỉnh/Thành phố
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>

        </table>
    </div>
    <div class="col">
        <table class="mytable">
            <tr class="mytr">
                <td class="labeltd">
                    Quốc gia
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Phân cấp khách hàng
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Nợ trước (trước khi sd phần mềm)
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Đặt lịch CSKH
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>
            <tr class="mytr">
                <td class="labeltd">
                    Mô tả
                </td>
                <td class="inputtd">
                    <input type="text">
                </td>
            </tr>

        </table>
    </div>
</div>
</form>