<div>
    <form [formGroup]="addform">
        <div class="row" style="background-color: #f4f4f4; height:60px; position: sticky;top: 50px;right: 0;left: 0;z-index: 101; opacity: 1">
            <div class="col" >
                <b class="title"> Tạo liên hệ</b>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-info" style="background-color: #FFFFFF;" >Hủy</button>
                <button type="submit" class="btn btn-info" style="background-color: #FFFFFF;" (click)="submitadd()">Lưu và thêm mới</button>
                <button type="submit" class="btn btn-info waves-light" style="color:#FFFFFF !important; " (click)="submit()">Lưu</button>
            </div>
        </div>


        <div  class="row" style="background-color: #FFFFFF; margin-top:10px; font-family: ProximaNovaRegular,arial,sans-serif!important;">
            <div class="col" style="margin-top:50px">
                <app-input-email labelName="Chủ sở hữu" [group]="addform"></app-input-email>
                <app-input-email labelName="Mã khách hàng" [group]="addform"></app-input-email>
                <app-input-email labelName="Tên khách hàng" [group]="addform"></app-input-email>
                <app-input-email labelName="Số điện thoại" [group]="addform"></app-input-email>
                <app-input-email labelName="Địa chỉ email" [group]="addform"></app-input-email>
                <app-input-email labelName="Mã số thuế" [group]="addform"></app-input-email>
                <app-input-email labelName="Địa chỉ văn phòng" [group]="addform"></app-input-email>
                <app-input-email labelName="Website" [group]="addform"></app-input-email>
                <app-input-email labelName="Chia sẻ" [group]="addform"></app-input-email>
            </div>

            <div class="col" style="margin-top: 50px">
                <app-input-email labelName="Người liên hệ" [group]="addform"></app-input-email>
                <app-input-email labelName="Chức vụ" [group]="addform"></app-input-email>
                <app-input-email labelName="Giới tính" [group]="addform"></app-input-email>
                <app-input-email labelName="Số di động" [group]="addform"></app-input-email>
                <app-input-email labelName="Số máy bàn" [group]="addform"></app-input-email>
                <app-input-email labelName="Email liên hệ" [group]="addform"></app-input-email>
                <app-input-email labelName="Địa chỉ liên hệ" [group]="addform"></app-input-email>
                <app-input-email labelName="Ngày sinh nhật" [group]="addform"></app-input-email>
                <app-input-email labelName="Nick chat" [group]="addform"></app-input-email>
                <app-input-email labelName="Ngày tạo khách hàng" [group]="addform"></app-input-email>
                <app-input-email labelName="Tài khoản ngân hàng" [group]="addform"></app-input-email>
            </div>
        </div>
        <!--<div class="row" style="margin-top: 30px; background-color: #FFFFFF; margin-bottom: 40px">-->
            <!--<div class="col">-->
                <!--<table class="mytable">-->
                    <!--<tr class="mytr">-->
                        <!--<td class="labeltd">-->
                            <!--Địa chỉ ĐKKD-->
                        <!--</td>-->
                        <!--<td class="inputtd">-->
                            <!--<input type="text">-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr class="mytr">-->
                        <!--<td class="labeltd">-->
                            <!--Địa điểm giao hàng-->
                        <!--</td>-->
                        <!--<td class="inputtd">-->
                            <!--<input type="text">-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr class="mytr">-->
                        <!--<td class="labeltd">-->
                            <!--Phường/Xã-->
                        <!--</td>-->
                        <!--<td class="inputtd">-->
                            <!--<input type="text">-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr class="mytr">-->
                        <!--<td class="labeltd">-->
                            <!--Quận/Huyện-->
                        <!--</td>-->
                        <!--<td class="inputtd">-->
                            <!--<input type="text">-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr class="mytr">-->
                        <!--<td class="labeltd">-->
                            <!--Tỉnh/Thành phố-->
                        <!--</td>-->
                        <!--<td class="inputtd">-->
                            <!--<input type="text">-->
                        <!--</td>-->
                    <!--</tr>-->

                <!--</table>-->
            <!--</div>-->
            <!--<div class="col">-->
                <!--<table class="mytable">-->
                    <!--<tr class="mytr">-->
                        <!--<td class="labeltd">-->
                            <!--Quốc gia-->
                        <!--</td>-->
                        <!--<td class="inputtd">-->
                            <!--<input type="text">-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr class="mytr">-->
                        <!--<td class="labeltd">-->
                            <!--Phân cấp khách hàng-->
                        <!--</td>-->
                        <!--<td class="inputtd">-->
                            <!--<input type="text">-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr class="mytr">-->
                        <!--<td class="labeltd">-->
                            <!--Nợ trước (trước khi sd phần mềm)-->
                        <!--</td>-->
                        <!--<td class="inputtd">-->
                            <!--<input type="text">-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr class="mytr">-->
                        <!--<td class="labeltd">-->
                            <!--Đặt lịch CSKH-->
                        <!--</td>-->
                        <!--<td class="inputtd">-->
                            <!--<input type="text">-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr class="mytr">-->
                        <!--<td class="labeltd">-->
                            <!--Mô tả-->
                        <!--</td>-->
                        <!--<td class="inputtd">-->
                            <!--<input type="text">-->
                        <!--</td>-->
                    <!--</tr>-->

                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    </form>
</div>