/* You can add global styles to this file, and also import other style files */
.bg-skin-lp {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
}